<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.FilterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.model.Filter">
        <id column="id" property="id"/>
        <result column="filter_sort" property="filterSort"/>
        <result column="filter_url" property="filterUrl"/>
        <result column="filter_permission" property="filterPermission"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, filter_sort, filter_url, filter_permission
    </sql>

    <select id="selectFilterListBySort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shiro_filter
        order by filter_sort
    </select>

</mapper>
